# Default owners
* @points-management/core

/lib/ @points-management/multiplatform
/android/ @points-management/multiplatform
/ios/ @points-management/multiplatform
/test/ @points-management/multiplatform
/pubspec* @points-management/multiplatform
